.c-homepage-slider .swiper {
  width: 100%;
  height: 100vh;
}

.c-home-slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.c-home-slider-item__inner {
  max-width: 33.333%;
  width: 100%;
  text-align: center;
  z-index: 2;
  position: relative;
}

.swiper-slide-active .c-home-slider-item__title {
  opacity: 1;
}

.u-a4 {
  font-weight: normal;
  font-style: normal;
  margin-bottom: 1.6rem;

  line-height: calc(4vw + 8px);
}

.u-a4.u-uppercase {
  letter-spacing: 0.18rem;
}

.u-split-title-line {
  font-size: 5rem;
  display: block;
  position: relative;
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: inherit;
}

.c-home-slider-item__content {
  margin-bottom: 3rem;
  font-size: 1.4rem;
}

.u-b2 {
  line-height: 2rem;
}

.u-split-text-line {
  text-transform: none;
}

.c-home-slider-item__link {
  text-decoration: none;
}

.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  outline: none;
  position: relative;
}

.c-button:before,
.c-button:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;

  transition: transform 0.25s 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    border-color 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  transform: scaleX(0);
  z-index: 2;
}

.c-button:before {
  transform-origin: left top;
  left: 0;
  right: auto;
  top: 0;
}

.c-button:after {
  transform-origin: right top;
  right: 0;
  left: auto;
  bottom: 0;
}

.c-button:hover:before,
.c-button:hover:after {
  transform: scaleX(1);
  transition: transform 0.25s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.c-button__inner {
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: 5rem;
  min-width: 18rem;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.c-button__label {
  white-space: nowrap;
  margin: 0 1rem;
  line-height: 1.2;
}

.c-button__label:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #fff;
  transition: transform 0.25s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.c-button:hover .c-button__label:before {
  transform: translateY(0);
  transition: transform 0.25s 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.c-button__label-inner {
  position: relative;
  overflow: hidden;
  color: transparent;
  font-style: normal;
}

.c-button__label-inner:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: attr(title);
  opacity: 1;
  visibility: visible;
  color: #ffffff;

  transition: all 0.25s 0s ease-in-out;
}

.c-button:hover .c-button__label-inner:before {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%);
  transition: all 0.25s 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.c-button__label-inner:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: attr(title);
  transform: translateY(100%);
  opacity: 0;
  color: #ffffff;
  visibility: hidden;

  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.c-button:hover .c-button__label-inner:after {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.25s 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #001217;
}

/* OVERLAY */

.swiper-slide-active .c-homepage-slider__video-wrapper-overlay {
  opacity: 1;
  transition: opacity 0.4s 0.7s ease-out;
}

.c-homepage-slider__video-wrapper-overlay {
  position: absolute;
  top: 0;
  left: -5%;
  right: -5%;
  height: 100%;
  background-color: rgba(0, 18, 23, 0.5);
  display: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  backface-visibility: hidden;
  transform: translateZ(0);
}

/* SLIDE VIDEO BACKGROUND CONTENT STYLE */

.swiper-slide-active .c-homepage-slider__video-wrapper {
  opacity: 1;
  transition: opacity 0.4s 0.7s ease-out;
}

.c-homepage-slider__video-wrapper {
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: -5%;
  bottom: 0;
  left: -5%;
  overflow: hidden;
  display: none;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  backface-visibility: hidden;
  transform: translateZ(0);
}

video {
  display: block;
  max-width: 100%;
}

.c-homepage-slider__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -2;
  pointer-events: none;
}
