@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  line-height: 1.4rem;
  color: #fff;
  background: #0d2936;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
}

#gradient-canvas {
  --gradient-color-1: #3d545e;
  --gradient-color-2: #253e4a;
  --gradient-color-3: #0d2936;
  --gradient-color-4: #0a212b;
}
